In [1]:
import pandas as pd

In [2]:
### Analyze Video Game Sales - JB Tellez 12/17/2018

In [3]:
#### which is most common video game publisher?

In [4]:
df = pd.read_csv('./vgsales.csv')

In [188]:
most_common_publisher = df.Publisher.mode().get(0)
print('Most common publisher: ' + most_common_publisher)

Most common publisher: Electronic Arts

In [ ]:
#### which is most common video game platform?

In [189]:
most_common_platform = df.Platform.mode().get(0)
print('Most common platform: ', most_common_platform)

Most common platform:  DS

In [ ]:
#### which is most common video game genre?

In [190]:
most_common_genre = df.Genre.mode().get(0)
print('Most common genre: ', most_common_genre)

Most common genre:  Action

In [ ]:
#### What are the top 20 highest grossing games?

In [23]:
top_twenty_grossing_df = df[['Global_Sales','Name']].sort_values('Global_Sales', ascending=False).head(20)
top_twenty_grossing_df

    Global_Sales                                          Name
0          82.74                                    Wii Sports
1          40.24                             Super Mario Bros.
2          35.82                                Mario Kart Wii
3          33.00                             Wii Sports Resort
4          31.37                      Pokemon Red/Pokemon Blue
5          30.26                                        Tetris
6          30.01                         New Super Mario Bros.
7          29.02                                      Wii Play
8          28.62                     New Super Mario Bros. Wii
9          28.31                                     Duck Hunt
10         24.76                                    Nintendogs
11         23.42                                 Mario Kart DS
12         23.10                   Pokemon Gold/Pokemon Silver
13         22.72                                       Wii Fit
14         22.00                                  Wii Fit Plus
15         21.82                            Kinect Adventures!
16         21.40                            Grand Theft Auto V
17         20.81                 Grand Theft Auto: San Andreas
18         20.61                             Super Mario World
19         20.22  Brain Age: Train Your Brain in Minutes a Day

In [ ]:
#### For North American video game sales, whatâ€™s the median?

In [86]:
games_with_na_sales = df[df.NA_Sales > 0]
median = games_with_na_sales.median().get('NA_Sales')
print(f'Median North American game sales in millions {median}')

Median North American game sales in millions 0.14

In [ ]:
#### Show about 10 games surrounding median

In [92]:
games_with_na_sales_close = df[df.NA_Sales == median]
games_with_na_sales_close['Name'].head(10)

759                            Volleyball
2390                         Beijing 2008
2435               Street Fighter Alpha 2
2583           Resident Evil: Revelations
2712        Assassin's Creed: Revelations
2794           FIFA: Road to World Cup 98
2886         LEGO Harry Potter: Years 1-4
3069                       Rayman Legends
3265    Metal Gear Solid V: Ground Zeroes
3434                       FIFA Soccer 10
Name: Name, dtype: object

In [ ]:
#### For the top-selling game of all time, 
#### how many standard deviations above/below the mean are its sales for North America?
#### Note: not including games with zero sales in NA

In [177]:
top_selling_all_time = df.head(1) # already ranked by global sales
top_selling_all_time_na_sales = float(top_selling_all_time.NA_Sales)
mean_na_sales = games_with_na_sales.mean().NA_Sales
std_dev_na_sales = games_with_na_sales.std().NA_Sales

print('top selling all time na sales')
print(top_selling_all_time_na_sales)
print('mean na sales', mean_na_sales)
print('std dev na sales', std_dev_na_sales)
print('top selling deviation count', top_selling_all_time_na_sales / std_dev_na_sales)

top selling all time na sales 41.49
mean na sales 0.3630837259277626
std dev na sales 0.9376928421792661
top selling deviation count 44.24689848711465

In [181]:
df[df.NA_Sales > 0].describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,12099.000000,11888.000000,12099.000000,12099.000000,12099.000000,12099.000000,12099.000000
mean,7023.297380,2006.049798,0.363084,0.194107,0.064889,0.064045,0.686411
std,4436.265806,5.584974,0.937693,0.582554,0.330710,0.218092,1.791968
min,1.000000,1980.000000,0.010000,0.000000,0.000000,0.000000,0.010000
25%,3174.500000,2003.000000,0.060000,0.010000,0.000000,0.010000,0.100000
50%,6710.000000,2007.000000,0.140000,0.050000,0.000000,0.020000,0.250000
75%,10560.000000,2010.000000,0.350000,0.170000,0.000000,0.050000,0.640000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [ ]:
#### The Nintendo Wii seems to have outdone itself with games. 
#### How does its average number of sales compare with all of the other platforms?

In [193]:
wii_avg_sales = df[df.Platform == 'Wii'].Global_Sales.mean()
not_wii_avg_sales = df[df.Platform != 'Wii'].Global_Sales.mean()
print('Wii average sales:', wii_avg_sales)
print('Others average sales:', not_wii_avg_sales)
print('% better:', int(wii_avg_sales / not_wii_avg_sales * 100))

Wii average sales: 0.6994037735849057
Others average sales: 0.5233896418516336
% better: 133

In [ ]:
### Come up with 3 more questions that can be answered with this data set.